/Application/Configuration/backup/
/Application/Principale/backup/
/Application/Stagiaires/backup/
/Application/backup/
/Application/lib/
/Application/paiemen_scolaire
/Application/Inscription/backup
